html,
body {
	font-family: montserrat;
	overflow-x: hidden;
	height: 100%;
}

body {
	background-color: var(--color-primary);
	scroll-behavior: smooth;
}

._lock {
	overflow-y: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

[class*="__container"]{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
	color: var(--title-color);
	font-size: clamp(2.5rem, 1.935rem + 2.82vw, 4rem);
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: -2.56px;
}
.subtitle {
	color: var(--text-color);
	font-size: clamp(1.125rem, 0.984rem + 0.71vw, 1.5rem);
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 28.8px */
	letter-spacing: -0.72px;
}


.btn {
	color: var(--color-primary);
  background-color: var(--title-color);
  font-weight: 500;
  border-radius: 12px;
	padding: 13px 24px;
	font-size: 17px;
	font-style: normal;
	line-height: 22px; /* 129.412% */
	letter-spacing: 0.073px;
    border: 1px solid var(--title-color);
    transition: all .2s ease;
	@media (hover: hover) {
        &:hover {
          background-color: transparent;
          color: var(--title-color);
        }	
	}
}

.btn-empty {
	color: var(--title-color);
	background-color: transparent;
    font-weight: 500;
    border-radius: 12px;
	padding: 13px 24px;
	font-size: 17px;
	font-style: normal;
	line-height: 22px; /* 129.412% */
	letter-spacing: 0.073px;
    border: 1px solid var(--title-color);
    transition: all .2s ease;
	@media (hover: hover) {
        &:hover {
			background-color: var(--title-color);
        	color: var(--color-primary);
        }
	}
}

.link {
	color: var(--text-color);
    display: flex;
    align-items: center;
	font-size: 17px;
	font-style: normal;
	line-height: 22px;
	font-weight: 500;
    gap: 7px;
	svg {
		path {
			fill: var(--text-color);
		}
	}
	transition: all .2s ease;
	@media (hover: hover) {
		&:hover{
			color: var(--title-color);
			svg {
				path {
					fill: var(--title-color);
				}
			}
		}
	}
}

.badge {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	padding: 6px 12px;
	border-radius: 8px;
	color: var(--text-color);
	background-color: var(--color-badge);
}

.arrow {
	path {
		fill: var(--title-color);
	}
}

.shade {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 250px;
	background: linear-gradient(transparent, var(--color-primary));
}



