//===================================GLOBAL=====================================================================================================================

body {
   background-color: var(--color-primary);
}

main {
   margin-top: 80px;
}

.title {
	color: var(--title-color);
	font-size: clamp(2.5rem, 1.935rem + 2.82vw, 4rem);
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: -2.56px;
}
.subtitle {
	color: var(--text-color);
	font-size: clamp(1.125rem, 0.984rem + 0.71vw, 1.5rem);
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 28.8px */
	letter-spacing: -0.72px;
}


.btn {
  color: var(--color-primary);
  background-color: var(--title-color);
  font-weight: 500;
  border-radius: 12px;
	padding: 13px 24px;
	font-size: 17px;
	font-style: normal;
	line-height: 22px; /* 129.412% */
	letter-spacing: 0.073px;
  border: 1px solid var(--title-color);
  transition: color .3s ease, background-color .3s ease;
	@media (hover: hover) {
        &:hover {
          background-color: transparent;
          color: var(--title-color);
        }	
	}
}

.btn-empty {
	color: var(--title-color);
	background-color: transparent;
  font-weight: 500;
  border-radius: 12px;
	padding: 13px 24px;
	font-size: 17px;
	font-style: normal;
	line-height: 22px; /* 129.412% */
	letter-spacing: 0.073px;
  border: 1px solid var(--title-color);
  transition: color .3s ease, background-color .3s ease;
	@media (hover: hover) {
        &:hover {
			    background-color: var(--title-color);
        	color: var(--color-primary);
        }
	}
}

.link {
	color: var(--text-color);
  display: flex;
  align-items: center;
	font-size: 17px;
	font-style: normal;
	line-height: 22px;
	font-weight: 500;
  gap: 7px;
	svg {
		path {
			fill: var(--text-color);
      transition: fill .3s ease;
		}
	}
	transition: color .3s ease;
	@media (hover: hover) {
		&:hover{
			color: var(--title-color);
			svg {
				path {
					fill: var(--title-color);
				}
			}
		}
	}
}

.badge {
  display: inline-block;

	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
  text-align: center;
  
	padding: 6px 12px;
	border-radius: 8px;
	color: var(--text-color);
	background-color: var(--color-badge);
}

.arrow {
	path {
		fill: var(--title-color);
	}
}

.shade {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 250px;
	background: linear-gradient(transparent, var(--color-primary));
}

//===================================/GLOBAL=====================================================================================================================



//===================================INTRODUCTION=====================================================================================================================

.introduction {
   padding-top: clamp(1.25rem, -1.103rem + 11.76vw, 7.5rem);
   padding-bottom: clamp(1.25rem, -1.103rem + 11.76vw, 7.5rem);
   // .introduction__title
   &__title {
       max-width: clamp(25rem, 21.235rem + 18.82vw, 35rem);
       text-align: center;
       margin: 0 auto;
       padding-bottom: clamp(1.125rem, 0.984rem + 0.71vw, 1.5rem);
   }
   // .introduction__subtitle
   &__subtitle {
       max-width: 470px;
       text-align: center;
       margin: 0 auto;
       padding-bottom: 24px;
   }
   // .introduction__links
   &__links {
       display: flex;
       gap: 30px;
       justify-content: center;
       padding-bottom: clamp(2.5rem, 0.618rem + 9.41vw, 7.5rem);
       @media (max-width: 437px) {
         flex-direction: column;
         text-align: center;
       }
   }
   // .introduction__link-cv
   &__link-cv {
       color: var(--color-primary);
       background-color: var(--title-color);
       font-weight: 500;
       border-radius: 12px;
       border: 1px solid var(--title-color);
       transition: color .3s ease, background-color .3s ease;
       @media (hover: hover) {
         &:hover {
           background-color: transparent;
           color: var(--title-color);
         }
       }
   }
   // .introduction__link-discover
   &__link-discover {
       @media (max-width: 437px) {
         margin: 0 auto;
       }
   }
   // .introduction__ticker-wrap
   &__ticker-wrap {
     display: flex;
     gap: clamp(1.25rem, 0.309rem + 4.71vw, 3.75rem);
     align-items: center;
     animation: ticker 20s linear infinite;
     @media (max-width: 770px) {
       animation: none;
       padding-bottom: 40px;
     }
   }
   &__ticker-dublicate {
     display: flex;
     gap: clamp(1.25rem, 0.309rem + 4.71vw, 3.75rem);
     align-items: center;
     @media (max-width: 770px) {
       display: none;
     }
   }
   // .introduction__ticker
   &__ticker {
     overflow: hidden;
     position: relative;
     @media (max-width: 770px) {
       overflow-x: scroll;
     }
   }
   // .introduction__ticker-item
   &__ticker-item {
      flex-shrink: 0;
      @media (max-width: 1170px) {
        img {
           width: clamp(2.5rem, 2.029rem + 2.35vw, 3.75rem); 
        }
      }
    }
}

@keyframes ticker {
 
 0% {
    transform: translateX(0%);
 }

 100% {
    transform: translateX(-101.9%);
 }
 
}


//===================================/INTRODUCTION=====================================================================================================================



//===================================TABLET=====================================================================================================================

.tablet {
 padding-bottom: clamp(3.125rem, 1.949rem + 5.88vw, 6.25rem);
 // .tablet__container
 &__container {
   position: relative;
   text-align: center;
 }
 // .tablet__badge
 &__badge {
  margin-bottom: 15px;
 }
 // .tablet__title
 &__title {
   text-align: center;
   padding-bottom: 16px;
 }
 // .tablet__subtitle
 &__subtitle {
   text-align: center;
   padding-bottom: 16px;
   max-width: 650px;
   margin: 0 auto;
 }
 &__buttons {
   display: flex;
   align-items: center;
   gap: clamp(1.25rem, 1.015rem + 1.18vw, 1.875rem);
   justify-content: center;
   padding-bottom: 27px;
 }
 // .tablet__button-code
 &__button-code {
   justify-content: center;
   svg {
     transform: rotate(270deg);
   }
 }
 // .tablet__ipad
 &__ipad {
   display: flex;
   position: relative;
   width: 940px;
   height: 320px;
   margin: 0 auto;
   border-radius: 45px 45px 0 0;
   border: 4px solid var(--device-buttons-color);
   border-bottom: none;
   background-color: var(--device-border-color);
   flex-shrink: 0;
   &::before{
     position: absolute;
     background-color: var(--device-buttons-color);
     height: 40px;
     width: 2px;
     top: 45px;
     left: -6px;
     border-radius: 2px;
     content: '';
   }
 }
 &__ipad-content {
   width: 885px;
   height: 295px;
   background-color: var(--color-primary);
   position: absolute;
   border-radius: 25px 25px 0 0;
   left: 22px;
   bottom: 0;
   &::before{
     position: absolute;
     background-color: var(--device-buttons-color);
     height: 2px;
     width: 34px;
     top: -27px;
     left: 35px;
     border-radius: 2px 2px 0 0;
     content: '';
   }
   &::after{
     position: absolute;
     background-color: var(--device-buttons-color);
     height: 2px;
     width: 34px;
     top: -27px;
     left: 75px;
     border-radius: 2px 2px 0 0;
     content: '';
   }
 }
 &__ipad-img {
   border-radius: 25px 25px 0 0;
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: top;
 }
}

//===================================/TABLET=====================================================================================================================



//===================================PHONE=====================================================================================================================

.phone {
 // .phone__container
 &__container {
   display: flex;
   justify-content: space-between;
   position: relative;
   max-width: 870px;
   align-items: center;
   gap: 30px;
   @media (max-width: 770px) {
     flex-direction: column-reverse;  
   }

 }
 &__buttons {
   display: flex;
   align-items: center;
   gap: clamp(1.25rem, 1.015rem + 1.18vw, 1.875rem);
   
 }
 // .phone__iphone
 &__iphone {
   position: relative;
   background-color: var(--device-border-color);
   height: 640px;
   width: 360px;
   border-radius: 60px 60px 0 0;
   border: 6px solid var(--device-buttons-color);
   border-bottom: none;
   @media (max-width: 389px) {
     height: 510px;
     width: 280px;
     border-radius: 50px 50px 0 0;
   }
 }

 &__iphone-img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: top;
   border-radius: 42px 42px 0 0;
 }

 &__iphone-notch {
     background-color: var(--device-border-color);
     height: 28px;
     width: 175px;
     left: 75px;
     top: -1px;
     position: absolute;
     border-radius: 0 0 15px 15px;
     z-index: 2;
     &::before {
       content: '';
       background-color: var(--device-buttons-color);
       position: absolute;
       border-radius: 50%;
       width: 8px;
       height: 8px;
       top: 8px;
       right: 50px;
     }
     &::after {
       content: '';
       background-color: var(--device-buttons-color);
       position: absolute;
       border-radius: 50px;
       width: 40px;
       height: 6px;
       top: 9px;
       left: 64px;
     }
     @media (max-width: 389px) {
       height: 22px;
       width: 135px;
       left: 56px;
       &::before {
         top: 5px;
         right: 30px;
       }
       &::after {
         top: 6px;
         left: 45px;
       }
     }
 }

 &__iphone-wrapper {
   position: relative;
   &::before {
     content: '';
     background-color: var(--device-buttons-color);
     position: absolute;
     border-radius: 0 50px 50px 0;
     width: 3px;
     height: 88px;
     top: 190px;
     right: -2px;
     z-index: 1;
   }
   &::after {
     content: '';
     background-color: var(--device-buttons-color);
     position: absolute;
     border-radius: 50px 0 0 50px;
     width: 3px;
     height: 55px;
     top: 160px;
     left: -2px;
     z-index: 1;
   }
 }
 // .phone__iphone-content
 &__iphone-content {
   position: absolute;
   bottom: 0;
   left: 12px;
   width: 324px;
   height: 622px;
   border-radius: 42px 42px 0 0;
   background-color: var(--color-primary);
   &::before {
     content: '';
     background-color: var(--device-buttons-color);
     position: absolute;
     border-radius: 50px 0 0 50px;
     width: 5px;
     height: 27px;
     top: 90px;
     left: -21px;
     z-index: 1;
   }
   &::after {
     content: '';
     background-color: var(--device-buttons-color);
     position: absolute;
     border-radius: 50px 0 0 50px;
     width: 3px;
     height: 55px;
     top: 210px;
     left: -20px;
     z-index: 1;
   }
   @media (max-width: 389px) {
     width: 254px;
     height: 497px;
     border-radius: 38px 38px 0 0;
     left: 7px;
     &::after {
       left: -15px;
     }
     &::before {
       left: -15px;
     }
   }
 }
 // .phone__info
 &__info {
   z-index: 1;
 }
 // .phone__title
 &__title {
   max-width: 370px;
   padding-bottom: 22px;
 }
 // .phone__subtitle
 &__subtitle {
   max-width: 344px;
   padding-top: 15px;
   padding-bottom: 30px;
 }
 // .phone__button
 &__button {
   padding: 0;
   svg {
     transform: rotate(270deg);
   }
 }
}

//===================================/PHONE=====================================================================================================================



//===================================WORKS=====================================================================================================================

.works {
 padding-top: clamp(3.125rem, 2.184rem + 4.71vw, 5.625rem);
 // .works__container
 &__container {
 }
 // .works__title
 &__title {
   padding-bottom: clamp(1.25rem, 0.591rem + 3.29vw, 3rem);
 }
 // .works__cards
 &__cards {
   display: flex;
   justify-content: space-between;
   gap: 13px;
   flex-wrap: wrap;
 }
 // .works__card
 &__card {
   padding: 18px 0;
   max-width: clamp(26.25rem, -1.771rem + 49.82vw, 34.688rem);
   @media (max-width: 915px) {
     max-width: 100%;
   }
 }
 // .works__card-img
 &__card-img {
   border-radius: 17px;
   width: 100%;
   min-height: 165px;
   padding: 1px;
   object-fit: cover;
   object-position: top;
 }
 // .works__buttons
 &__buttons {
   opacity: 0;
   visibility: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   background-color: var(--card-color-blur);
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 15px;
   width: 100%;
   height: 100.1%;
   z-index: 1;
   transition: all .3s ease;
 }
 &__card-wrapper {
   position: relative;
   margin-bottom: clamp(1.125rem, 0.796rem + 1.65vw, 2rem);
   @media (hover: hover) {
     &:hover {
       .works__buttons {
         opacity: 1;
         visibility: visible;
       }
     }
   }
 }
 // .works__button-demo
 &__button-demo {
 }
 // .works__button-code
 &__button-code {
 }
 // .works__card-name
 &__card-name {
   color: var(--title-color);
   font-size: clamp(1.25rem, 1.156rem + 0.47vw, 1.5rem);
   font-style: normal;
   font-weight: 600;
   line-height: 120%; /* 28.8px */
   letter-spacing: 0.017px;
 }
 // .works__card-description
 &__card-description {
   color: var(--text-color);
   font-size: clamp(0.875rem, 0.804rem + 0.35vw, 1.063rem);
   font-style: normal;
   font-weight: 400;
   line-height: 22px; /* 129.412% */
   letter-spacing: 0.073px;
   padding: clamp(0.625rem, 0.46rem + 0.82vw, 1.063rem) 0;
 }
 // .works__card-badges
 &__card-badges {
   display: flex;
   gap: 8px;
   flex-wrap: wrap;
 }
 // .works__card-badge
 &__card-badge {
 }
}

//===================================/WORKS=====================================================================================================================



//===================================CONTACT=====================================================================================================================

.contact {
 padding: clamp(3.75rem, 2.809rem + 4.71vw, 6.25rem) 0;
 // .contact__container
 &__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
 }
 // .contact__info
 &__info {
 }
 // .contact__info-title
 &__info-title {
   padding-bottom: clamp(1rem, 0.624rem + 1.88vw, 2rem);
 }
 // .contact__info-subtitle
 &__info-subtitle {
   padding-bottom: clamp(1rem, 0.624rem + 1.88vw, 2rem);
   max-width: clamp(23.125rem, 9.628rem + 30.85vw, 32.188rem);
   @media (max-width: 720px) {
     max-width: 100%;
   }
 }
 // .contact__icons
 &__icons {
   display: flex;
   align-items: center;
   gap: 14px;
 }
 // .contact__icons-link
 &__icons-link {
   path {
     fill: var(--text-color);
     transition: fill .3s ease;
   }
   @media (hover: hover) {
     &:hover {
       path {
         fill: var(--title-color);
       }
     }
   }
 }
 // .contact__image-wrapper
 &__image-wrapper {
   width: clamp(17.5rem, 0.372rem + 39.15vw, 29rem);
   height: clamp(17.5rem, 0.372rem + 39.15vw, 29rem);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: var(--device-border-color);
   @media (max-width: 720px) {
     display: none;
   }
 }
 // .contact__image-img
 &__image-img {
   
 }
}

//===================================/CONTACT=====================================================================================================================