//===================================HEADER=====================================================================================================================

.header {
   background-color: var(--color-primary);

   padding: 25px 0;

   position: fixed;
   width: 100%;
   z-index: 10;
   // .header__container

   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .header__logo

   &__logo {
   }

   // .header__menu

   &__menu {
   }

   // .header__buttons

   &__buttons {
      display: flex;
      align-items: center;
      gap: 15px;
   }

   // .header__theme-switcher

   &__theme-switcher {
   }
}
.menu {
   // .menu__icon

   &__icon {
   }

   // .menu__body

   &__body {
   }

   // .menu__list

   &__list {
      display: flex;
      align-items: center;
      gap: 64px;
      @media (max-width: 800px) {
         background-color: var(--color-primary);

         position: absolute;
         top: 0;
         left: -100%;
         z-index: 1;
         flex-direction: column;
         justify-content: center;

         width: 100%;
         height: 100vh;

         transition: left .5s ease;
      }
   }

   // .menu__item

   &__item {
   }

   // .menu__link

   &__link {
      color: var(--text-color);
      transition: color .3s ease;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 129.412% */
      letter-spacing: 0.073px;
      position: relative;
      @media (hover: hover) {         
        &:hover {
            color: var(--title-color);
        }
      }
   }
}

//===================================/HEADER=====================================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: 800px) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
         border-radius: 3px;
			background-color: var(--title-color);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

.menu-open {
   .menu__list {
      left: 0;
      transition: left .5s ease;
   }
}
//===================================SWITCHER=====================================================================================================================

.switch {
   position: relative;
   display: inline-block;
   width: 50px;
   height: 30px;
   input {
      opacity: 0;
      width: 0;
      height: 0;
   }
}
.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #414141;
   -webkit-transition: 0.4s;
   transition: 0.4s;
   &::before {
      position: absolute;
      content: "";
      height: 24.5px;
      width: 24.5px;
      left: 5px;
      bottom: 4px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      box-shadow: 0 0px 15px #2020203d;
      background: var(--theme-switch-btn-color) url('../img/icons/dark-theme.svg');
      background-repeat: no-repeat;
      background-position: center;
   }
}
.round {
   border-radius: 25px;
   &::before {
      border-radius: 17px;
   }
}

input:checked + .slider {
   background-color: var(--theme-switch-background);
 }
 
input:focus + .slider {
   box-shadow: 0 0 1px transparent;
 }
 
input:checked + .slider:before {
   -webkit-transform: translateX(15px);
   -ms-transform: translateX(15px);
   transform: translateX(15px);
   background: var(--theme-switch-btn-color) url('../img/icons/light-theme.svg');
   background-repeat: no-repeat;
   background-position: center;
}

//===================================/SWITCHER=====================================================================================================================